@font-face {
    font-family: 'Arial-MT';
    src: url("./assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center; 
    transition: 2s;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
    
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 28px;
}

.player-icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.player-icon:hover {
    opacity: 1;
}

.player-icon:active {
    scale: 1.1;
}

.play-prev {
    background-image: url(./assets/svg/play-prev.svg);
}

.play{
    background-image: url(./assets/svg/play.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.pause {
    background-image: url(./assets/svg/pause.svg);
}
.play-next {
    background-image: url(./assets/svg/play-next.svg);
}

.play-list {
    text-align: left;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.color_red {
    color: red;
}

.play-item:before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
    
}

.play-item:hover {
    opacity: 1;
}
ul {
    list-style-type:none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    transition: .3s;
}

.slide-prew {
    left: 20px;
    background-image: url(./assets/svg/slider-prev.svg);
}

.slide-next {
    right: 20px;
    background-image: url(./assets/svg/slider-next.svg);
}

.slider-icon:hover {
    opacity: 1;
}

.slider-icon:active {
    scale: 1.2;
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
}

.date{
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100%;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.container-todolist{
    bottom: 100px;
    right: 40px;
    position: absolute;
    display: flex;
    justify-content: end;
    width: 30%;
  }
  .todolist{  
    background: rgba(19,23,25,.8);
    width: 65%;
  }
  
  .todolist-title{
      padding: 10px 0;
  }
  .list-none{
    margin: 35px;
    text-align: center;
  }
  .list-available{
    max-height: 90px;
    overflow: auto;
    display: none;
  }
  .list-available-open{
    display: block;
  }
  .todolist-form{
    text-align: start;
    padding: 15px;
  }
  .todolist-form-input{
    padding: 5px;
    width: 60%;
  }
  .todolist-form-button{
    padding: 5px 10px;
    color: #fff;
    background: rgba(213,215,213,.3);
    border: none;
    margin-left: 3px;
    font-size: 15px;
  }
  .list{
    padding: 5px 0;
  }
  .todo-list-element{
    text-align: start;
    padding: 5px 15px;
    border: 1px transparent solid;
  }
  .todo-list-element:hover{
    border: 1px rgba(115,123,126,1) solid;
  }
  .todo-list-element-label{
    margin-left: 5px;
  }
  .todo-list-element-span{
    float: right;
    visibility: hidden;
  }
  .todo-list-element-span-hover{
    visibility: visible;
    cursor: pointer;
  }
  .input-todolist-inactive{
    text-decoration: line-through;
    color: rgba(115,123,126,1);
  }
  .none{
    display: none;
  }
  .row{
    display: flex;
    justify-content: space-between;
    width: 260px;
  }
  .block{
    display: flex;
    width: 50%;
    margin: 3px;
  }
  .visibility-checkbox{
    margin-right: 5px;
  }
  .visibility-hidden{
    opacity: 0;
    visibility: hidden;
  }
@media (max-width: 768px) {
.time {
    min-height: 80px;
    font-size: 72px;
}

.greeting {
    padding: 5px;
}

.name {
    font-size: 32px;
    padding: 5px;
}
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;  
    text-align: left;
    transition: .9ms;
  }
  
  .weather-error {
    margin-top: -10px;
  }
  
  .description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
  }
  
  .weather-icon {
    font-size: 44px;
  }
  
  .city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;  
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
  }
  
  .city::placeholder {  
    font-size: 20px;
    color: #fff;
    opacity: .6;
  }

  .container-quote{
    width: 40%;
    margin-left: 30%;
    
   
    
    transition: .9ms;
  }
  .change-quote {
    margin-bottom: 30px;
    background-image: url("/assets/svg/reload.svg");
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 0;
    outline: 0;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
  } 

  .change-quote:hover {
    opacity: 1;
    scale: 1.1;
    transform: rotate(180deg);
  };


  .quote {
    min-height: 32px;
    max-width: 40%;
  }
  
  .author {
    min-height: 20px;
  }

  
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 160px;
    padding: 0 10px;
    padding-top: 0;
}